/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  text-align: center;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}

/* container class for 2 sections using flexbox */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
}

/* container for the portfolio section that makes sure the items are aligned correctly and there's a gap between the sections with flexbox */
.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  column-gap: 10px;
}

/* class that let me align the text in one section of the bio without affecting other sections */
.align-left {
  text-align: left;
}

/* selector to be able to change the font size for the paragraphs in the portfolio section as requirements stated */
.portfolio-container p {
  font-size: 14px;
}

/* Selector to make a small change to the margins of the portfolio flexbox container so that the items could align at the start and the text would line up evenly */
.portfolio-container div {
  margin: 0;
}